html {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #ffd1dc;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 200%;
    color: hsl(304, 100%, 50%)
}
p > a {
  font-size: 100%;
}

p {
    font-size: 125%;
}

.blog-post img {
  max-width: 30rem;
}

pre {
  padding: 1rem;
  overflow-x: scroll;
}

.boyj-logo img {
    width: 50%;
    margin-top: -6%;
    margin-left: 25%;
}

/* https://gist.github.com/stereokai/7666bfe93929b14c2dced148c79e0e97 */
/* .sin {
  --sin-term1: var(--angle);
  --sin-term2: calc((var(--angle) * var(--angle) * var(--angle)) / 6);
  --sin-term3: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 120);
  --sin-term4: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 5040);
  --sin-term5: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 362880);
  --sin: calc(var(--sin-term1) - var(--sin-term2) + var(--sin-term3) - var(--sin-term4) + var(--sin-term5));
}

.cos {
  --cos-term1: 1;
  --cos-term2: calc((var(--angle) * var(--angle)) / 2);
  --cos-term3: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 24);
  --cos-term4: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 720);
  --cos-term5: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 40320);
  --cos: calc(var(--cos-term1) - var(--cos-term2) + var(--cos-term3) - var(--cos-term4) + var(--cos-term5));
}

.tan {
  --tan-term1: var(--angle);
  --tan-term2: calc((1/3) * var(--angle) * var(--angle) * var(--angle));
  --tan-term3: calc((2 / 15) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle));
  --tan-term4: calc((17/315) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle));
  --tan: calc(var(--tan-term1) + var(--tan-term2) + var(--tan-term3) + var(--tan-term4));
} */

.broider-1 {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAnJJREFUeF7tmkuSgzAQQ8n9Dz1TU5UNToIkWthNRtn2189qx1A8tvm/n6HkY34L11VcsZgANe9ngAYoTyAjz7OiPAOUwsQ7BSjPivIMUAoT79QBKOp27HG8JajxyL9kD9ASvtfgAA3QLSM/iAA9KSH7qCnV36zJfboOI4/+dFCPAQreNqmAVP8oFBAIUFEiGXlRUYhvgAYo0ojX7r5H/vszVN0eBAzZ1Xolf3Q+lZKbghEwZDe1waUJUI4T7RWgNCrO8Y5A0cqWrmlpcUTmaXffCsiy59wC9By3j1EBugBoq2uJef1/6dQj5bAFRqEBKuxigEahglw41+Ujz7X52YuZimoNJR4daci+q8UszrqD27YxNRUgVV8EDNkDdNgBBAzZA7QbUHVkpR2uzu+JePVIO1w/A6cKpBp/gpEUEqASLuwcoJiR5DEdqNQd8WzMHDNqzSN/BMzajzXZc1VTF0CQn9pPgJofNAJ0AVA0MuPUXbFJxGR/dKle26R4ZvEBut8r+8UeqYXZJJTDaZcU9qawFM8sPgq9WKHVT7id6mNyqYJAOe0jH6AHyM+MfIAGKJpiyQ5HfuoZI7Xew1n+lw/Q440LULOwA3Q1UHN9OZ165DA3E7kJV0CH5gLUtZvkC+nub7N2/UWhZnV0BHq3J7H2Cg3Q4tSgex6yF8t7wzPyXp4tPi1UFdj6mnUHhY4aClAwVVGo+dgJ0GZAW12zvuEMDdBB4dWRD9AA9R6a1WtPNd67miHbijO0CqQaH6DgiECApopmajHTC+UoFEnIbFdvDdbyKxRqXcCbZAFqJhygAWomYE4XhQaomYA5XRT6TUB/AQJYqFGwClR2AAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}

.broider-2 {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAtpJREFUeF7tnFluwzAQQ537H7pFgKKIZEMUTY6XmP2spFHmiUMtaPNa1j8/3a9eG31Gv1LHk9OVd+/z6Sds+GzBUoGo48sJkRMEKAkMdQ9QRIhsp4GiEj26fehRJIyZ7hQwtOe8PfRoYL1vqwnNQGM2UXZBm88foGtBBagoUbVCaIX2nxdZBOqPFMDGZ3mq8YfjZ0oeAUIHf1YBasIIsBo/QDvCAYokR7aXA1VL2j1ejcdaDFoPagHucJenEto4V6NNMEABgSiUBOQ+VTxOochT2ZJmLQTNf/v3ULWkAxScI6NQZFqkp14eKOUZE89/Ir/y4VYLQTvmOxvkOai9nIg4QYCKAFEFShYShRY8MLMLfvcSV/MdKnhGoahE9sRgkzqzP+Wxe2BEoe3ywpsSUkOABijSyLCdElBKHrMOUMyI6hGgFC7cuRxojlHmTSlAAxTXNdED/qEDEWuzK+Ux6mQXGB+g4iKUXz2f5qEBKioSCcb+2oQm3HP7MjOwhitX6LdvQlJ+e9QkTWjVTk0wKb8AXS9KgJqFagdKmbA5mTPCSQCHW/5fY4AKyzrzB7cziyB8hNOHRqHmJTgc6J6TgDnn0nABasYboAFqJmAOV67Qpz1+WPOd2XCsK2hWV0U4Kd8APeEuL61YhYSKY0r55qZ0gEKfdpcv35QCtEU8s8/8j0jJF5Q8a8LfpmCUP2pvlsTxnSN3f95DwFB7gHYKQMBQe4BWA7UeGyb+lRHNV20hlOI2LhHD8TO7PHVsCFDzsSFAA9RagTPB3J7DeqQ6P/LsGQafMWgPrf4AAdoRUFc0QAO0IUCXvOpZ6nj0foziq28NKP7QEq9wDkUAWU8PUJIoUlCAfhtQtOKo5Nhdm+S36s4qEOVnbb/je2iAqpIEz22oQqwKXJal38ib+FGo/s1pK6BX80izoKEHqzc/+K04rEdVA3DHRxaA5pNvSsij0Ae4WnuAmlekFOgvZ8E4VJ8XqtMAAAAASUVORK5CYII=") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}

.dog-pic {
    width: 20rem;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.badges {
    margin: auto;
}

.badges img {
    display: inline;
    align-content: space-between;
    /* align-items: flex-start; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 62px;
}
.badges2 img {
  height: 25px;
}
.badges a, .badges2 a {
  text-decoration: none;
  color: none;
}

#headerinfo {
    border-style: double;
    border-color: black;
    border-width: 5px;
    margin-right: 25%;
    margin-top: 20px;
}

.contact {
    display: flex;
    flex-direction: column;

    /* margin-left: 69%; */
    margin-right: 69.420px;
    margin-top: 24px;
}

#license {
    font-size: 75%;
}


#scroll-container {
    border: 5px double black;
    overflow: hidden;
    font-size: 200%;
}

#scroll-text {
    text-align: right;
    white-space: nowrap;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 8s linear infinite;
    -webkit-animation: my-animation 8s linear infinite;
    animation: my-animation 8s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
} 
/* 
@media screen and (max-width: 900px) {
    #headerinfo {
        margin: auto;
    }
}


.blog-post {
    padding: 3rem;
} */
